
@media only screen and (max-width: 768px) {
    main {
        background-color: #20703f;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

/*
                    HEADER SECTION
*/

header {
    background: linear-gradient(
        #11451b,
        #20703f
    );
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 18px;
    z-index: 1;
}

header * {
    color: black;
    display: inline;
    list-style-type: none;
    text-decoration: none;
}

header nav {
    margin-left: auto;
}

header a:hover, .nav-li-item:hover {
    color: white;
}

#header-img {
    margin: 20px;
}

#logo-name {
    margin: 20px;
    font-size: 26px;
    font-weight: 600;
}

.nav-link {
    margin: 20px;
}


/*
                    MAIN SECTION
*/

main {
    text-align: center;
    background-color: #45a56a99;
}

#main-h1 {
    color: white;
    font-size: 80px;
    position: absolute;
    top: 90%;
    left: 35%;
    text-wrap: nowrap;
    text-align: center;
}



.container {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 10px;
    row-gap: 15px;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
}

.item {
    background: linear-gradient(#53e78c8c 0%, #53e78c8c 20%, #f7f7f7 20%, #53e78c8c);
    box-shadow: 0 0 20px white;
    border: solid 4px rgba(0, 0, 0, .8);
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.item h2 {
    height: 80px;
}

.item h3 {
    font-size: 26px;
    font-weight: 800;
}

.item p {
    height: 100px;
}

.item img {
    width: 95%;
    height: 95%;
    justify-self: center;
    border-radius: 10px;
    border: solid 3px black;
}

.item button {
    padding: 5px;
    margin-top: 10px;
    background: linear-gradient(
        #20953598,
        #fff
    );
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    border: solid 2px black;
    border-radius: 10px;
    text-wrap: nowrap;
    width: 100px;
    justify-self: center;
    position: relative;
    bottom: 5px;
}

.item button:hover {
    background: #ffffffaf;
    box-shadow: 1px 0 10px white;
    font-weight: 600;
}

.Videos .video-wrap {
    background-color: #11451b;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-evenly;
}

.Videos #video {
    padding: 20px;
}

.Videos p {
    margin: auto;
    padding: 80px;
    font-size: 18px;
}

.Form {
    margin: 50px;
}

.Form label {
    font-size: 26px;
    font-weight: 800;
}

.Form #email {
    width: 300px;
    height: 30px;
    margin-top: 20px;
}

.Form #submit {
    width: 150px;
    height: 30px;
    margin: 20px;
    background-color: black;
    color: white;
    border: 0;
}

.Form #submit:hover {
    background-color: grey;
    box-shadow: 1px 0 10px white;
}

